@import '../../base.scss';

.channelHeader {
    margin: 1rem 0;
    padding: 1rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $borderColor;

    &__left {
        display: flex;
        align-items: center;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

        &__details {
            margin-left: 1rem;

            h3 {
                font-size: 24px;
                line-height: 30px;
            }

            span {
                font-size: 16px;
            }
        }
    }

    &__right {
        button {
            text-transform: uppercase;
            background-color: red;
            color: #fff;
            font-size: 14px;
            padding: 0.4rem;
            border: none;
        }
    }
}

@media(max-width:720px) {
    .channelHeader {
        padding: 1rem 0;

        img {
            width: 50px;
            height: 50px;
        }
    }

    .channelHeader__left__details h3 {
        font-size: 1.05rem;
        margin: 0;
    }

}