@import "../../base.scss";

.videoHorizon {
   margin: 0.5rem;
   padding: 0.5rem 0;
   align-items: center;
   border-bottom: 0.3px solid $borderColor;

   cursor: pointer;

   &__metadata {
      font-size: 0.8rem;
   }

   &__thumbnail {
      &-wrapper {
         width: 100%;
         //  background-color: red;
      }
      // background-color: #aaa;
      object-fit: contain;
      width: 100%;

      &-channel {
         border-radius: 50%;
         width: 50%;
         margin: 0 auto;
         display: block;
      }
   }

   &__duration {
      padding: 0.1rem 0.2rem;
      background: #000000e3;
      border-radius: 3px;

      position: absolute;
      bottom: 0.3rem;
      right: 1rem;

      font-size: 0.9rem;
      font-weight: 500;
   }

   &__left {
      position: relative;
      text-align: center;
      // padding: 0 !important;
   }

   &__right {
      padding: 0;
   }

   &__title {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 1px;
      color: #fff;
      letter-spacing: 0.1px;

      @include line-clamp(1);
   }

   &__desc {
      font-size: 0.9rem;
      margin-top: 0.3rem;
      @include line-clamp(2);
   }

   &__channel {
      display: flex;
      margin: 0.5rem 0;
      align-items: center;

      &-icon {
         @include channel-icon;
      }
      &-name {
         text-decoration: none;
         transition: color 150ms;
         margin-bottom: 1px;
         @include line-clamp(1);
      }
   }
}

@media (max-width: 720px) {
   .watchScreen {
      padding: 0 !important;
   }

   .videoHorizon {
      font-size: 12px;

      &__metadata {
         @include line-clamp(1);
      }
      &__channel {
         margin: 0.1rem 0;

         &-icon {
            display: none;
         }
      }

      &__desc {
         display: none;
      }

      &__title {
         font-size: 14px;
         @include line-clamp(2);
      }
   }
}
