.videoHorizon {
    padding: 3rem;
    width: 100%;
    cursor: pointer;
    box-shadow: 5px 5px 10px #090a0b, -5px -5px 10px #23262b;
    border-radius: 10px;
    margin: 0.7rem;

    &__left {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__thumbnail {
        background-color: #aaa;
        object-fit: contain;
        border-radius: 10px;
        width: 60%;

        &-video {}

        &-channel {
            border-radius: 50%;

        }
    }

    &__details {
        padding: 0;
    }

    &__channel-icon {
        width: 36px;
        height: 36px;
        object-fit: contain;
        margin-right: 1rem;
        background-color: #aaa;
        border-radius: 50%;
    }


    &__title {
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 1px;
        color: #fff;
        letter-spacing: 0.1px;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    &__desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__channel {
        display: flex;
        margin: 1rem 0;
    }

    &__channel-name {
        text-decoration: none;
        transition: color 150ms;
        margin-bottom: 1px;
    }


}