/* header */
@import '../../base.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: $box-shadow;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: $light-color;

    &__user-info {
        font-size: 1.2rem;
        font-weight: 400;

        img {
            border-radius: 50%;
        }

    }

}

.logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.search {
    display: flex;
    flex: 0.7;
    padding: 0.1rem;
    border-radius: 12px;
    margin: 0 2rem;
    font-weight: 500;
    border: 2px solid;
    background-color: #343A40;
}

.search__input {
    width: 100%;
    border-radius: 10px;
    padding: 0.4rem;
    border: none;
    color: $primary-color;
    background: transparent;
    font-weight: 500;


    &:focus {
        outline: none;

    }
}

.search__button {

    padding: 0 1.25rem;
    border: none;
    color: $primary-color;
    cursor: pointer;
    background: transparent;
}

.search-button:hover {
    background-color: #f0f0f0;
}