@import '../../base.scss';

.video {

    background: linear-gradient(145deg, #181a1d, #141618);
    box-shadow: 5px 5px 10px #090a0b,
        -5px -5px 10px #23262b;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border-radius: 10px;

    &__thumbnail {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    &__bottom {}

    &__channel-icon {
        width: 36px;
        height: 36px;
        object-fit: contain;
        margin-right: 1rem;
        background-color: #aaa;
        border-radius: 50%;

    }

    &__title {
        font-size: 0.9rem;
        font-weight: 500;
        text-decoration: none;
        margin-bottom: 1px;
        color: #fff;
        letter-spacing: 0.1px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    &__channel {
        display: flex;
        align-content: center;
        text-decoration: none;
        transition: color 150ms;
        margin: 6px 0;
    }


}

// @media (max-width:777px) {
//     .video {
//         width: 100%
//     }
// }

// .video__thumbnail {
//     width: 100%;
//     object-fit: contain;
//     background-color: #aaa;
// }


// .video__bottom {
//     display: flex;
//     align-items: flex-start;
//     margin-top: 1rem;
// }

// .video__channel-icon {
//     width: 36px;
//     height: 36px;
//     object-fit: contain;
//     margin-right: 1rem;
//     background-color: #aaa;
//     border-radius: 50%;

// }

// .video__details {
//     display: flex;
//     flex-direction: column;

// }



// .video__title {
//     font-size: 1.1rem;
//     font-weight: bold;
//     text-decoration: none;
//     margin-bottom: 1px;
//     color: #fff;
//     letter-spacing: 0.5px;
// }

// .video__channel-name {
//     text-decoration: none;
//     transition: color 150ms;
//     margin-bottom: 1px;

// }

// .video__channel-name:hover {}

// .video__channel-name,
// .video-metadata {}