@import '../../base.scss';

.sidebar {
    color: #b1bde4;
    //TODO change
    background: #121417;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;

    width: 250px;
    height: 90vh;
    position: sticky;
    //TODO is TOP,left needed?
    top: 10vh;
    left: 0;
    transition: all 0.2s ease-out;

    &.open {
        transform: translateX(0);
    }

}

.youtube-logo {
    height: 60px;
}


@media(max-width:1224px) {
    .sidebar {
        width: 90px;
    }

    .sidebar span {
        display: none;
    }
}

@media(max-width:520px) {
    .sidebar {
        transform: translateX(-100%);
        position: fixed;
        z-index: 999;
    }

    .sidebar span {
        display: none;
    }
}

hr {
    background-color: #b1bde4;
}