@import '../../base.scss';

.sidebar {
    color: #b1bde4;
    background: #51146d;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    // width: 100px;
    // width: 260px;
    width: 80px;
    padding: 1rem;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 1000;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;

    span {
        display: none;
    }

    &.open {
        transform: translateX(0);
    }

}

.youtube-logo {
    height: 60px;
}

// @media(max-width:777px) {
//     .sidebar span {
//         display: none;
//         font-size: 22px;
//     }
// }

@media(min-width:1100px) {
    // .sidebar {
    //     width: 250px;
    //     position: static;
    //     top: 10vh;
    // }

    .sidebar span {}
}


hr {
    background-color: #b1bde4;
}