@import "../../base.scss";

.sidebar {
   background: #121417;

   display: flex;
   flex-direction: column;

   width: 250px;
   height: 90vh;

   position: sticky;
   top: 10vh;
   left: 0;

   transition: all 0.2s ease-out;

   &.open {
      transform: translateX(0);
   }
}

hr {
   background-color: $borderColor;
}

@media (max-width: $breakpoint-medium) {
   .sidebar {
      width: 90px;
      span {
         display: none;
      }
   }
}

@media (max-width: $breakpoint-small) {
   .sidebar {
      transform: translateX(-100%);
      position: fixed;
      z-index: 999;
   }
}
