@import "../../base.scss";

.watchScreen__player {
  height: 60vh;
  background-color: #353946;
  width: 100%;
  margin-bottom: 2rem;
}

.commentInput {
  margin: 1rem 0;
  display: flex;
  width: 100%;

  img {
    background-color: azure;
    border-radius: 50%;
    width: 50px;
  }

  form {
    display: flex;
    flex: 1;
  }

  input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #353946;
    color: #fff;
    flex: 1;

    &:focus {
      outline: none;
    }
  }

  button {
    border: none;
    padding: 0.4rem;
    background-color: #353946;
    font-weight: 500;
    color: #fff;
    border-radius: 1px;

    &:focus {
      border: none;
      outline: none;
    }
  }
}

@media (max-width: 720px) {
  .watchScreen__player {
    height: 35vh;
  }
}
