* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    // background-image: linear-gradient(55deg, #0d0d0f, #0C0F1F);
    background: #141414;

    height: 100vh;
    background-attachment: fixed;
    color: #b1bde4;
}

$primary-color:#b1bde4;

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.login {
    width: 100%;
    height: 50%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}